---
import Secure from "../../public/secureServer.svg";
import check from "../../public/check.svg";
---

<section class="mt-52">
  <h2 class="text-white text-3xl">Como funciona?</h2>

  <div class="flex">
    <div class="w-1/2"><img src={Secure.src} alt="" /></div>
    <div class="w-1/2 flex flex-col justify-between">
      <p class="flex gap-4 text-white">
        <img src={check.src} alt="" />
         gestiona tus clientes, productos, proveedores, facturas, presupuestos.
      </p>
      <p class="flex gap-4 text-white">
        <img src={check.src} alt="" />
         gestiona tus clientes, productos, proveedores, facturas, presupuestos.
      </p>
      <p class="flex gap-4 text-white">
        <img src={check.src} alt="" />
         gestiona tus clientes, productos, proveedores, facturas, presupuestos.
      </p>
      <p class="flex gap-4 text-white">
        <img src={check.src} alt="" />
         gestiona tus clientes, productos, proveedores, facturas, presupuestos.
      </p>
    </div>
  </div>
</section>
